# Definitely needed for Flask-powered Web Apps
gunicorn
Jinja2
Werkzeug

# Needed for this specific app
Flask
pandas
#Flask-RESTful==0.3.6
pymysql
sqlalchemy
pickleshare
numpy
sklearn
#seaborn==0.11.1
tensorflow-cpu
Keras