

body {
    background-color:snow;
    background-image: url("/static/img/RR\ LOGO.png");
}
.navbar {
    background-color:#013369 !important;

}
.navbar-light .navbar-brand{
    color:white;
}


.navbar-brand{
    display: flex;
    align-items: center
}
.navbar-nav{
    margin-left: auto;
}

.dropdown-menu, .dropdown-menu[data-bs-popper]{
    right:0;
    left:unset
}
h1, p{
    color:#013369;

}

.hero{
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero1{
    background-image: url("/static/img/pexels-canva-studio-3194519.jpg");
    
}
.hero::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color:white;
    opacity: 50%;

}
.herotext{
    position: relative;
    z-index:1;
}
.hero2{
    background-image: url("/static/img/pexels-fauxels-3184291.jpg");
    
   
}

.hero3{
    background-image: url("/static/img/pexels-fauxels-3184357.jpg");
   
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #013369;
}

.team{
    text-align: center;
    margin: 40px 0;
    color:#013369;
    
}
.teamcontainer img{
    max-width: 80px;
}
.teamcontainer{
    text-align: center
}

.col{
    text-align: center;
    background-color:#013369 ;
    color:white
}

.about, h2{
    text-align: center;
    color: #013369;  
}

.card{
    align-items: center;
    height: 100%;
    width: 100%;
}
.card .funny{
    display: none;

}

.card:hover .funny{
    display:inline-block;
    
}
.card:hover .main{
    display:none
}
.btn-primary{
    margin-top: auto;
}

.productcontainer img{
    max-width: 200px;
}

.headers h1{
    text-align: center;
    margin-bottom:0%
}

.login h1{
    text-align:center;
    
}

/* Setting machinelearning input form font size */
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 13px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 9pt; 
}

 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 12px;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 9pt; 
}
 
.results h3, p{
    color:#013369;
    text-align: center;
}

.ml-row {
    padding-bottom: 20px;
}

