<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon (1).ico">
    <title>Recruit & Retain</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/img/RR LOGO.png" alt="" width="30" height="24" class="d-inline-block align-top">
        <span> &nbsp;&nbsp;Recruit & Retain</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/past">Portfolio</a></li>
              <li><a class="dropdown-item" href="/project">Your Data</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/machinelearning">Machine Learning</a></li>
            </ul>
          </li>
        
        </ul>
       
      </div>
    </div>
  </nav>
  <div class="container">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hero1 hero">
            <div class="herotext">
              <h1>RECRUIT & RETAIN</h1>
              <p>Helping You Maximize Employee Retention</p>
            </div>  
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero2 hero">
            <div class="herotext">
              <h1>EMPLOYEE ENGAGEMENT</h1>
              <p>Understanding The Factors That Drive Employee Performance</p>
            </div>  
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero3 hero">
            <div class="herotext">
              <h1>ARE YOU READY TO COMPETE?</h1>
              <p>Using Our Techonology Let Us Show The Real Cost Of Letting Top Talent Leave </p>
            </div>  
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
   
  </div>
  <div class="container">
    <div class="row row-cols-4">
      <div class="col">How Much Money Are You Losing?</div>
      <div class="col">Employees Happy?</div>
      <div class="col">Overtime Cost?</div>
      <div class="col">Losing Top Talent?</div>
    </div>
  </div>
  <div class="about">
    <h2>About Us</h2>
    <p>Recruit & Retain (R&R) is the #1 provider of workforce analytics solutions. We are committed to helping your organization use human resource data to make informed personnel decisions. Many driving factors contribute to employee retention; we help you identify the employee lifecycle element that has the greatest impact on your ability to recruit and retain a high-performing workforce. Let us assist you with recruiting, onboarding, developing, and retaining a thriving workforce.</p>

  </div>
  <div class="container productcontainer">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <h2>Staffing and Recruitment</h2>
          <img src="/static/img/opentoopportunities.jpg">
          <p>We can help you place your job postings in the right job advertising networks to increase your possibility of obtaining the personnel to help you thrive in the 21st-century business environment.</p>  
        </div>  
      </div>
      <div class="col-sm">
        <div class ="card">
          <h2>Cost Analysis</h2>
          <img src="/static/img/card1.jpg">
          <p>We help clients realize the cost of their human capital needs. Attacking, onboarding, developing, and retaining employees requires a significant about of effort and time, impacting your bottom line.</p> 
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h2>Turnover Minimization</h2>
          <img src="/static/img/turnover.jpeg">
          <p>Hiring requires a great deal of effort; retaining great talent is essential to the company's longevity. We help organizations develop work benefits packages that help minimize turnover and help stabilize and recruit high performing workforce..</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container productcontainer">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <h2>Workforce Demographics</h2>
          <img src="/static/img/card3.jpg">
          <p>Understanding your workforce's demographics against those of your competitors will increase your ability to compete for high performers' services. Let us assist you with understanding your workforce profile.</p>  
        </div>  
      </div>
      <div class="col-sm">
        <div class ="card">
          <h2>Workforce Forecasting</h2>
          <img src="/static/img/card4.jpg">
          <p>We provide the basis for efficient, agile workforce scheduling. We help you predict which employees with what qualifications are to be deployed where, when, and at what cost.</p> 
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h2>Employee Engagement</h2>
          <img src="/static/img/engagement.jpeg">
          <p>An engaged workforce is a thriving collaborative environment that allows for creativity and innovation to run freely. We help our clients create engaging environments that attract the best talent.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="team">
    <h2> Meet the Team</h2>
  </div>  
  <div class="container teamcontainer">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <h2>Sandra Hall</h2>
          <img src="/static/img/sandra.jpg">
          <p>Project Manager</p>
          
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            BIO
          </button>
        </div>  
      </div>
      <div class="col-sm">
        <div class ="card">
          <h2 style="color: #013369;">Alejandra Herbas</h2>
          <img src="/static/img/alejandra.jpg">
          <p>Machine Learning Specialist</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
           BIO
          </button>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h2>Fraol Abebe</h2>
          <img src="/static/img/fraol.jpg">
          <p>Data Visualization</p>
          <p>Tableau Expert</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            BIO
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container teamcontainer">
    <div class="row">
      <div class="col-sm">
        <div Class="card">
          <h2>Marilou Francis</h2>
          <img src="/static/img/marilou.jpg">
          <p>Data Engineer Expert</p>
          <p>Web-Scraping Specialist</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              BIO
            </button>
        </div>
      </div>
    
      <div class="col-sm">
        <div class="card">
          <h2 style="color: #013369;">Sam Smith</h2>
          <img src="/static/img/sam.jpg">
          <p>Machine Learning Specialist</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            BIO
          </button>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h2>Anthony Hughes</h2>
          <img src="/static/img/ant.jpg">
          <p>UX Specialist</p>
          <p>Data Visualization Specialist</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            BIO
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container teamcontainer">
    <div class="row">
      <div class="col-sm">
       
      </div>
      <div class="col-sm">
        <div class="card">
          <h2 style="color: #013369;">Renier Mendez</h2>
          <img src="/static/img/renier.jpg">
          <p>UX Expert</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            BIO
          </button>
        </div>
        
      </div>
      <div class="col-sm">
      
      </div>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sandra Hall</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sandra Hall is responsible for planning, overseeing, and leading projects from ideation through to completion. Sandra also collaborates with internal and external stakeholders as a data analytics consultant to help the team realize the desired outcome for R&R employee lifecycle projects.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
