<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon (1).ico">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>Recruit & Retain</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/img/RR LOGO.png" alt="" width="30" height="24" class="d-inline-block align-top">
        <span> &nbsp;&nbsp;Recruit & Retain</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/">Home</a></li>
              <li><a class="dropdown-item" href="/past">Portfolio</a></li>
              <li><a class="dropdown-item" href="/project">Your Data</a></li>
            </ul>
          </li>
        
        </ul>
       
      </div>
    </div>
  </nav>
  
  <div class="container-fluid">
  
    <div class="row">
      <div class="col-md-4">
      <div class="results">
        
          <h3>Logistic Regression</h3>
          <p>This Model Has A 84% Accuracy Rating</p>
        
        <br>
        <br>
        <!-- Logistic Regression Model -->
        {{ prediction_text }}
        <br>
        <br>
        {{ age_text }}
        <br>
        {{ distance_text }}
        <br>
        {{ level_text}}
        <br>
        {{ satisfaction_text }}
        <br>
        {{ income_text }}
        <br>
        {{ hours_text }}
        <br>
        {{ workyears_text }}
        <br>
        {{ balance_text }}
        <br>
        {{ role_text }}
        <br>
        {{ promotion_text }}
        <br>
        {{ mgr_text }}
        
              </div>
      </div>
      <div class="col-md-4">
        <div class="login">
          <h1>Employee Retention Prediction </h1>

          <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for ('predict') }}" method="POST">

              <div class='row ml-row'>
                <div class='col-md-4'>
                  <label for='Age'>Age</label>
                  <input type="text" name="Age" placeholder="Age" required="required" />
                </div>
                <div class='col-md-4'>
                  <label for='DistanceFromHome'>Distance From Home</label>
                  <input type="text" name="DistanceFromHome" placeholder="DistanceFromHome" required="required" />
                </div>
                <div class='col-md-4'>
                  <label for='TotalWorkingYears'>Total Working Years</label>
                  <input type="text" name="TotalWorkingYears" placeholder="TotalWorkingYears" required="required" />      
                </div>
              </div>

              <div class='row ml-row'>
                <div class='col-md-4'>
                  <label for='YearsInCurrentRole'>Years In Current Role</label>
                  <input type="text" name="YearsInCurrentRole" placeholder="YearsInCurrentRole" required="required" />
                  <!-- <input type="text" name="JobLevel" placeholder="JobLevel (1-Lowest, 4-Highest)" required="required" /> -->
                </div>
                <div class='col-md-4'>
                  <label for='JobLevel'>Experience Level</label>
                  <select name='JobLevel' style='width:90%'>
                    <option selected disabled>Experience level</option>
                    <option value='1'>Entry Level</option>
                    <option value='2'>Mid-Level</option>
                    <option value='3'>Senior Level</option>
                    <option value='4'>Expert</option>
                  </select>
                </div>
                <div class='col-md-4'>
                  <label for='JobSatisfaction'>Job Satisfaction</label>
                  <select name='JobSatisfaction' style='width:90%'>
                    <option selected disabled>Job Satisfaction</option>
                    <option value='1'>Very Dissatisfied</option>
                    <option value='2'>Somewhat Dissatisfied</option>
                    <option value='3'>Satisfied</option>
                    <option value='4'>Very Satisifed</option>
                  </select>
                </div>
              </div>

              <div class='row ml-row'>
                <div class='col-md-4'>
                  <label for='MonthlyIncome'>Monthly Income</label>
                  <input type="text" name="MonthlyIncome" placeholder="MonthlyIncome" required="required" />
                </div>
                <div class='col-md-4'>
                  <label for='StandardHours'>Hours Worked</label>
                  <input type="text" name="StandardHours" placeholder="StandardHours (max: 80)" required="required" />                  
                </div>
                <div class='col-md-4'>
                  <label for='OverTime_No'>Overtime?</label>
                  <select name='OverTime_No' style='width:90%'>
                    <option selected disabled>Overtime?</option>
                    <option value='0'>Yes</option>
                    <option value='1'>No</option>
                  </select>

                </div>
              </div>

              <div class='row ml-row'>
                <div class='col-md-4'>
                  <label for='WorkLifeBalance'>Work & Life Balance</label>
                  <select name='WorkLifeBalance' style='width:90%'>
                    <option selected disabled>Work Life Balance</option>
                    <option value='1'>Unmanagable</option>
                    <option value='2'>Some</option>
                    <option value='3'>Healthy</option>
                    <option value='4'>Excellent </option>
                  </select>
                </div>
                <div class='col-md-4'>
                  <label for='YearsSinceLastPromotion'>Year of Last Promotion</label>
                  <input type="text" name="YearsSinceLastPromotion" placeholder="YearsSinceLastPromotion" required="required" />
                </div>
                <div class='col-md-4'>
                  <label for='YearsWithCurrManager'>Years With Current Manager</label>
                  <input type="text" name="YearsWithCurrManager" placeholder="YearsWithCurrManager" required="required" />
                </div>
              </div>

              <div class='row ml-row'>
                <div class='col-md-4'>
                  <label for='NumCompaniesWorked'>Total of Companies Worked</label>
                  <input type="text" name="NumCompaniesWorked" placeholder="NumCompaniesWorked" required="required" />
                </div>
                <div class='col-md-4'>
                  <label for='YearsAtCompany'>Years At Company</label>
                  <input type="text" name='YearsAtCompany' placeholder='YearsAtCompany' required="required" />
                </div>
                <div class='col-md-4'>
                  
                </div>
              </div>
              

            
            

            
            
            

            
            
            <!-- <input type="text" name="OverTime_Yes" placeholder="Overtime_Yes (0-Yes, 1-No)" required="required" /> -->
            
            <br>
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
          
          
          
        </div>
      </div> 
      <div class="col-md-4">
        <div class="results">
  
          <h3>Sequential Model</h3>
          <p>This Model Has A 91% Accuracy Rating</p>
            <br>
            <br>
            <!-- Sequential Model -->
            {{ prediction2_text }}
            <br>
            <br>
            {{ age_text }}
            <br>
            {{ distance_text }}
            <br>
            {{ income_text }}
            <br>
            {{ workyears_text }}
            <br>
            {{ mgr_text }}
            <br>
            {{ numco_text }}
            <br>
            {{ yearsco_text }}
            <br>
            {{ otimeno_text }}
            <br>
            {{ otimeyes_text }}
  
        </div>
      </div>
    </div>
  </div>


 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
